SUM OF TWO NUMBERS

In [ ]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
print(a+b)

enter first number:12
enter second number:45
57

MAXIMUM NUMBERS

In [ ]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
if a>b:
       print(a,"is maximum")
else:
      7 print(b,"is maximum")

enter first number:34
enter second number:68
68 is maximum

FACTORIAL

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

num = int(input("Enter a number: "))

if num < 0:
    print("Factorial does not exist for negative numbers.")
else:
    print(f"The factorial of {num} is: {factorial(num)}")

Enter a number: 6
The factorial of 6 is: 720

SIMPLE INTREST

In [ ]:
def simple_interest(principal, rate, time):
    interest = (principal * rate * time) / 100
    return interest

principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the rate of interest: "))
time = float(input("Enter the time in years: "))
interest = simple_interest(principal, rate, time)

print(f"The simple interest is: {interest}")

Enter the principal amount: 50000
Enter the rate of interest: 3
Enter the time in years: 3
The simple interest is: 4500.0

COMPOUND INTREST

In [ ]:
def compound_interest(principal, rate, time, n):
    amount = principal * (1 + rate / (n * 100)) ** (n * time)
    interest = amount - principal
    return interest

principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the annual rate of interest: "))
time = float(input("Enter the time in years: "))
n = int(input("Enter the number of times interest is compounded per year: "))

interest = compound_interest(principal, rate, time, n)

print(f"The compound interest is: {interest}")

Enter the principal amount: 30000
Enter the annual rate of interest: 2
Enter the time in years: 2
Enter the number of times interest is compounded per year: 3
The compound interest is: 1220.1786690396548

AMSTRONG NUMBER

In [ ]:
def is_armstrong(number):

    num_str = str(number)
    num_digits = len(num_str)
    sum_of_digits = sum(int(digit) ** num_digits for digit in num_str)
    return sum_of_digits == number
number = int(input("Enter a number: "))

if is_armstrong(number):
    print(f"{number} is an Armstrong number.")
else:
    print(f"{number} is not an Armstrong number.")

Enter a number: 456
456 is not an Armstrong number.

AREA OF CIRCLE

In [ ]:
import math
def area_of_circle(radius):
    return math.pi * (radius ** 2)

radius = float(input("Enter the radius of the circle: "))

area = area_of_circle(radius)
print(f"The area of the circle with radius {radius} is: {area:.2f}")

Enter the radius of the circle: 25
The area of the circle with radius 25.0 is: 1963.50

ALL PRIME NUMBERS IN INTERVAL

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True


lower = int(input("Enter the lower bound of the interval: "))
upper = int(input("Enter the upper bound of the interval: "))


print(f"Prime numbers between {lower} and {upper} are:")
for number in range(lower, upper + 1):
    if is_prime(number):
        print(number)

Enter the lower bound of the interval: 23
Enter the upper bound of the interval: 45
Prime numbers between 23 and 45 are:
23
29
31
37
41
43

PRIME ARE NOT

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

number = int(input("Enter a number: "))


if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number: 5
5 is a prime number.

NTH FIBONACCI NUMBER

In [ ]:
def fibonacci_iterative(n):
    if n <= 0:
        return "Invalid input"
    elif n == 1:
        return 0
    elif n == 2:
        return 1

    a, b = 0, 1
    for _ in range(2, n):
        a, b = b, a + b
    return b

n = int(input("Enter the position N to find the Nth Fibonacci number: "))

result = fibonacci_iterative(n)
print(f"The {n}th Fibonacci number is: {result}")

Enter the position N to find the Nth Fibonacci number: 20
The 20th Fibonacci number is: 4181

GIVEN NUM IS FIBONACCI NUM

In [ ]:
def fibonacci_sequence(limit):
    fib_nums = [0, 1]
    while True:
        next_fib = fib_nums[-1] + fib_nums[-2]
        if next_fib > limit:
            break
        fib_nums.append(next_fib)
    return fib_nums

number = int(input("Enter a number to check if it is a Fibonacci number: "))

fib_nums = fibonacci_sequence(number)
if number in fib_nums:
    print(f"{number} is a Fibonacci number.")
else:
    print(f"{number} is not a Fibonacci number.")

Enter a number to check if it is a Fibonacci number: 56
56 is not a Fibonacci number.

NTH MUTIPLE OF FIBONACCI

In [ ]:
def fibonacci(n):
    if n <= 0:
        return "Invalid input"
    elif n == 1:
        return 0
    elif n == 2:
        return 1

    a, b = 0, 1
    for _ in range(2, n):
        a, b = b, a + b
    return b

n = int(input("Enter the position N to find the Nth Fibonacci number: "))

result = fibonacci(n)
print(f"The {n}th Fibonacci number is: {result}")

Enter the position N to find the Nth Fibonacci number: 26
The 26th Fibonacci number is: 75025

ASCII VALUE

In [ ]:
char = input("Enter a character: ")

if len(char) == 1:
    ascii_value = ord(char)
    print(f"The ASCII value of '{char}' is: {ascii_value}")
else:
    print("Please enter a single character.")

Enter a character: p
The ASCII value of 'p' is: 112

SUM OF SQUARES OF N NATURAL NUMBERS

In [ ]:
def sum_of_squares(n):
    return sum(i ** 2 for i in range(1, n + 1))

n = int(input("Enter a natural number n: "))

result = sum_of_squares(n)
print(f"The sum of squares of the first {n} natural numbers is: {result}")

Enter a natural number n: 7
The sum of squares of the first 7 natural numbers is: 140

CUBE OF N NATURAL NUMBERS

In [ ]:
def sum_of_cubes_of_squares(n):
    return sum((i ** 2) ** 3 for i in range(1, n + 1))
n = int(input("Enter a natural number n: "))

result = sum_of_cubes_of_squares(n)
print(f"The sum of the cubes of the squares of the first {n} natural numbers is: {result}")

Enter a natural number n: 8
The sum of the cubes of the squares of the first 8 natural numbers is: 446964